* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.user-border{
  border: 1px solid black;
  text-align: center;
  padding: 20px;
}

.app {
  margin: 0;
  padding: 10px;
}

.main {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.search-form {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.search-form input,
.search-form button {
  width: 280px;
}

.search-form input,
.search-form button {
  padding: 10px;
  border-radius: 4px;
}

.search-form input {
  border: 1px solid grey;
  outline: none;
}